<div class="how-section1 section login-bg-img">
  <div class="row">
    <div class="col-md-12 how-img sec1-left-img"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="section-container-left">
          <div class="heading-title">
            <h2 class="white">Profile Information</h2>
            <p>
              Having great skills and specialty in software quality assurance,
              software testing, software requirement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section2 section">
  <div class="row">
    <div
      class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-lg-offset-3 mx-auto"
    >
      <div class="login-sec mb-60">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="qz-form-left">
              <div class="login-form-heading">
                <h3 class="white">Add Profile</h3>
              </div>
              <form
                *ngIf="profileForm"
                id="qz-login-form-data"
                novalidate=""
                [formGroup]="profileForm"
                (ngSubmit)="onSubmit(profileForm.value)"
              >
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input
                      placeholder="Your First Name"
                      class="form-control"
                      type="text"
                      name="qz_user_fname"
                      id="qz_user_fname"
                      autocomplete="off"
                      formControlName="first_name"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.first_name.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input
                      placeholder="Your Last Name"
                      class="form-control"
                      type="text"
                      name="qz_user_lname"
                      id="qz_user_lname"
                      autocomplete="off"
                      formControlName="last_name"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.last_name.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input
                      placeholder="Profile Summary"
                      class="form-control"
                      type="text"
                      name="qz_user_summ"
                      id="qz_user_summ"
                      autocomplete="off"
                      formControlName="profile_summary"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.profile_summary.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input
                      placeholder="Country Code"
                      class="form-control"
                      type="text"
                      name="qz_user_cc"
                      id="qz_user_cc"
                      autocomplete="off"
                      formControlName="countryCode"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.countryCode.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input
                      placeholder="Residential Address"
                      class="form-control"
                      type="textarea"
                      name="qz_user_addr"
                      id="qz_user_addr"
                      autocomplete="off"
                      formControlName="residential_address"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.residential_address.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <textarea
                      placeholder="Description"
                      class="form-control"
                      data-parsley-required="true"
                      data-parsley-error-message="Please enter your description."
                      name="sb_reg_desc"
                      id="sb_reg_desc"
                      autocomplete="off"
                      formControlName="description"
                    ></textarea>
                    <!-- <input placeholder="Description" class="form-control" type="text" data-parsley-required="true" data-parsley-error-message="Please enter your description." name="sb_reg_desc" id="sb_reg_desc" autocomplete="off"> -->
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.description.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <!--<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label>Education</label> 
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      (change)="onChangeEducation($event)"
                      formControlName="education"
                    >
                      <option value="null" selected disabled
                        >Select Education</option
                      >
                      <option value="M.C.A">M.C.A</option>
                      <option value="M.B.A">M.B.A</option>
                      <option value="B.Sc">B.Sc</option>
                    </select>
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.education.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>-->
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input
                      placeholder="Experience"
                      class="form-control"
                      type="text"
                      data-parsley-required="true"
                      data-parsley-error-message="Please enter your Experience."
                      name="sb_reg_exp"
                      id="sb_reg_exp"
                      autocomplete="off"
                      formControlName="experience"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.experience.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <!--<select
                      class="form-select"
                      aria-label="Default select example"
                      (change)="onSkillChange($event)"
                      formControlName="skills"
                      multiple="true"
                    >
                      <option selected value="null" disabled
                        >Select Skills</option
                      >
                      <option
                        *ngFor="let skill of skillsList"
                        [value]="skill.skillName"
                        >{{skill.skillName}}
                      </option>
                    </select>-->
                 
                   
                    <ng-select
                
                   
                  [items]="obj"
                  bindLabel="skillName"
                  bindValue="skillName"
                  placeholder="Select Skills"
                  [multiple]=true
                  formControlName="skills"
                  aria-label="Default select example"
                  [(ngModel)]="selectedSkill"
                  [addTag]="addCustomUser"
                  [selectOnTab]=true
                  >
               
                 
                    >
                  </ng-select>
                
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.skills.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label >DOB</label>
                    <input
                      placeholder="DOB"
                      class="form-control"
                      type="date"
                      name="qz_user_dob"
                      id="qz_user_dob"
                      autocomplete="off"
                      formControlName="dob"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.dob.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label>Marital Status</label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      (change)="onChangeMaritalStatus($event)"
                      formControlName="marital_status"
                    >
                      <option selected value="null" disabled
                        >Select status</option
                      >
                      <option value="1">Married</option>
                      <option value="2">Unmarried</option>
                      <option value="3">Others</option>
                    </select>
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.marital_status.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label
                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12 control-label"
                      for="lang"
                      >Profile Pic</label
                    >
                    <input
                      placeholder="Profile Pic"
                      class="form-control file"
                      type="file"
                      (change)="selectProfile($event)"
                      name="qz_user_pic"
                      id="qz_user_pic"
                      autocomplete="off"
                      accept=".jpg,.gif,.png"
                      formControlName="profile_pic"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.profile_pic.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                
                  <div class="form-group">
                  
                 <img src="{{profile_path_url}}" width="60%" alt="">
                  
                  </div>
                </div>
               

                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label
                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12 control-label"
                      for="lang"
                      >Resume Upload

                        <a   download [href]="resume_path_url" target="_blank"> 
                          <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                      </label
                    >
                  
                    <input
                      placeholder="Profile Pic"
                      class="form-control file"
                      type="file"
                      (change)="selectResume($event)"
                      name="qz_user_pic"
                      id="qz_user_pic"
                      autocomplete="off"
                      accept=".pdf,.docs"
                      formControlName="resume_file"
                    />
                   
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.resume_file.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
               
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="form-group">
                      <label
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 control-label"
                        for="lang"
                        >Languages</label
                      >
                      <input
                        placeholder="Languages"
                        class="form-control"
                        type="text"
                        data-parsley-required="true"
                        data-parsley-error-message="Please enter your Languages."
                        name="sb_reg_lang"
                        id="sb_reg_lang"
                        autocomplete="off"
                        formControlName="languages"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label
                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12 control-label"
                      for="Gender"
                      >Gender</label
                    >
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gender-sec"
                    >
                      <label class="radio-inline" for="Gender-0">
                        <input
                          type="radio"
                          name="gender"
                          id="qz_user_gm"
                          value="Male"
                          checked="checked"
                          formControlName="gender"
                        />
                        Male
                      </label>
                      <label class="radio-inline" for="Gender-1">
                        <input
                          type="radio"
                          name="gender"
                          id="qz_user_gf"
                          value="Female"
                          formControlName="gender"
                        />
                        Female
                      </label>
                      <label class="radio-inline" for="Gender-2">
                        <input
                          type="radio"
                          name="gender"
                          id="qz_user_ot"
                          value="3"
                          formControlName="gender"
                        />
                        Other
                      </label>
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.gender.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="buttons-area">
                    <div class="form-group check-div">
                      <div class="icheckbox_square" style="position: relative;">
                        <input
                          type="checkbox"
                          name="icheck_box"
                          class="input-icheck-others"
                          [checked]="this.userDetails"
                          data-parsley-required="true"
                          data-parsley-error-message="Please accept terms and conditions."
                          data-parsley-multiple="icheck_box"
                          formControlName="agreement_terms_conditions"
                        />
                      </div>
                      <p>
                        I Agree
                        <a href="" target="_blank">terms and conditions.</a>
                      </p>
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && profileForm.controls.agreement_terms_conditions.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                    <div class="btn-group mr-2">

                      <button
                      class="n-btn-flat btn-mid pull-right "
                      type="button"
                      (click)="backToDashboard()"
                      >
                      Back
                    </button>
                  </div>
                  <div class="btn-group">

                    <button
                    class="n-btn-flat btn-mid pull-right "
                    type="submit"
                    id="sb_register_submit"
                    >
                    Submit Profile
                  </button>
                </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>
