<div class="how-section1 section login-bg-img">
  <div class="row">
    <div class="col-md-12 how-img sec1-left-img"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="section-container-left">
          <div class="heading-title">
            <h2 class="white">Reset Password</h2>
            <p>loreum ipsum dolor smit amet............</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section2 section">
  <div class="row">
    <div
      class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-lg-offset-3 mx-auto"
    >
      <div class="login-sec mb-60">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="qz-form-left">
              <div class="login-form-heading">
                <h3 class="white">Reset Password</h3>
              </div>
              <form
                id="qz-login-form-data"
                novalidate=""
                [formGroup]="form"
                (ngSubmit)="onSubmit(form.value)"
              >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <input
                      placeholder="Current Password"
                      class="form-control"
                      type="password"
                      name="sb_reg_cpassword"
                      id="sb_reg_cpassword"
                      autocomplete="off"
                      formControlName="oldPassword"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="
                         isSubmitted && form.controls.newPassword.errors?.required
                       "
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <input
                      placeholder="New Password"
                      class="form-control"
                      type="password"
                      name="sb_reg_npassword"
                      id="sb_reg_npassword"
                      autocomplete="off"
                      formControlName="newPassword"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="
                         isSubmitted && form.controls.newPassword.errors?.required
                       "
                    >
                      <sup>*</sup>This field is required
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <input
                      placeholder="Confirm Password"
                      class="form-control"
                      type="password"
                      name="sb_reg_ncpassword"
                      id="sb_reg_ncpassword"
                      autocomplete="off"
                      formControlName="confirmPassword"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && form.controls.confirmPassword.errors?.required"
                    >
                      <sup>*</sup>This field is required
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="form.controls.confirmPassword.errors?.confirmedValidator"
                    >
                      Password and Confirm Password must match.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="buttons-area">
                    <button
                      class="n-btn-flat btn-mid pull-right "
                      type="submit"
                      id="sb_register_submit"
                    >
                      Submit
                    </button>
                    <button
                      class="n-btn-flat btn-mid pull-right mr-2"
                      type="button"
                      id="sb_register_cancel"
                      [routerLink]="['/user']"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
