<div class="row">
  <div class="col-sm-12 text-center">
    <h2>About Us</h2>
  </div>
</div>
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-left">
      <h2>MAKING A CHANGE</h2>
      <br />
      <h4>
        <p>
          We're making a change one college student at a time. We're driven to
          change the talent pipeline by ensuring scholars of color and
          minorities have a chance to compete, no matter their zip code or the
          college they attend.
        </p>
        <p>
          While working in Corporate America, College Career Connections
          co-founder Christopher Williams identified the disparity of young
          minorities in sustainable career positions. Seeking a way to close the
          gap and provide a platform for minorities to have the opportunity to
          compete and be identified, he launched the company Quazi. Quazi did
          several focus groups and surveys to determine the best opportunity and
          model.
        </p>
        <p>
          College Career Connection was created to ensure that all minority
          college students have equal access to sustainable careers. Since our
          2016 founding in Columbia, SC, our mission has become a reality.
          Within determination and persistence,
          <b
            >College Career Connection will become the leading model for
            minorities' career communities in the US.</b
          >
        </p>
        <br />
        <h4><b>Mission Statement</b></h4>

        <p>
          Our mission is to develop a platform that provides sustainable career
          opportunities for minorities. We want them to build a career, not a
          job.
        </p>
        <br />
        <h3><b>What We Do</b></h3>
        <p>
          We understand the needs of companies when it comes to hiring diverse
          talent. Therefore, we decided to create a software platform that
          allows companies to recruit, screen, and hire great people.
          <br />
          Incorporating technology with great people creates a platform that
          levels the playing field for minorities.
        </p>
        <h3><b>Why College Career Connections</b></h3>
        <p>
          Why choose College Career Connections? We are the only hiring platform
          dedicated to creating opportunities for minorities. We focus on
          efforts and energy on ensuring early career seekers have a dedicated
          place to craft their skill sets, increasing their marketability.
        </p>
        <br />
        <h4><b>What's Make College Career Connections Different</b></h4>
        <br />
        <p>
          <span class="ul-list">
            <ul>
              <li>
                <strong>What We Believe</strong><br />
                We believe anyone can find a job, but it takes a special person
                to find a career. College Career Connections positions its
                platform to help that special person.
              </li>
              
              <li>
                <strong>Solutions</strong><br />
                Our platform provides a solution to assist with the company's
                diversity and inclusion initiative while hiring great minority
                talent.
              </li>

              <li>
                <strong>Partnerships</strong><br />
                College Career Connections is changing the hiring landscape one
                career opportunity at a time. We are partnering with an
                organization to change the landscape, not just seeing them as a
                vendor.
              </li>
              <br />
            </ul>
          </span>
        </p>
        <h4><b>How It Works</b></h4>
        <ol>
          <p>
            <b
              >Start your career search on College Career Connection in 3
              Steps.</b
            >
          </p>
          <li>Register</li>
          <li>Set Up A Profile</li>
          <li>Search</li>
          <li>Get Hired</li>
        </ol>
      </h4>
    </div>
  </div>
</div>
