<div
  class="n-footer-transparent footer-two"
  style=" background: url(/assets/images/acasc.jpg);  background-repeat: no-repeat; background-size: cover;  background-position: center center;  background-attachment: scroll; "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-md-2 col-xs-12">
        <div class="n-footer-block">
          <img
            class="img-responsive footer-logo"
            src="/assets/images/qlogo.png"
            alt="logo"
          />
          <div class="n-social-bar">
            <ul>
              <li>
                <a
                  class="fa fa-facebook"
                  href="http://www.facebook.com"
                  target="_blank"
                ></a>
              </li>
              <li>
                <a
                  class="fa fa-linkedin"
                  href="http://www.LinkedIn.com"
                  target="_blank"
                ></a>
              </li>
              <li>
                <a
                  class="fa fa-twitter"
                  href="http://www.twitter.com"
                  target="_blank"
                ></a>
              </li>
              <li>
                <a
                  class="fa fa-instagram"
                  href="http://www.Instagram.com"
                  target="_blank"
                ></a>
              </li>
              <li>
                <a
                  class="fa fa-behance"
                  href="http://www.Behance.com"
                  target="_blank"
                ></a>
              </li>
              <li>
                <a
                  class="fa fa-pinterest"
                  href="http://www.Pintrest.com"
                  target="_blank"
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-5 col-xs-12">
        <div class="n-footer-block">
          <h4>Job Locations</h4>
          <ul class="n-page-links multiple">
            <li><a href="#">Abu Dhabi</a></li>
            <li><a href="#">Albama</a></li>
            <li><a href="#">Anniston</a></li>
            <li><a href="#">Chickasaw</a></li>
            <li><a href="#">Delhi</a></li>
            <li><a href="#">Dubai</a></li>
            <li><a href="#">Germany</a></li>
            <li><a href="#">Hamburg</a></li>
            <li><a href="#">India</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
        <div class="n-footer-block">
          <h4>Get Our Apps</h4>
          <div class="n-app-btn">
            <a href="#" target="_blank">
              <div class="icon">
                <i class="fa fa-play"></i>
              </div>
              <div class="n-icon-text">
                <small>Get it on</small>
                <h5>Play store</h5>
              </div>
            </a>
          </div>
          <div class="n-app-btn">
            <a href="#" target="_blank">
              <div class="icon">
                <i class="fa fa-apple"></i>
              </div>
              <div class="n-icon-text">
                <small>Get it on</small>
                <h5>Apple store</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="n-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <p>All rights reserved. Quazi</p>
        </div>
      </div>
    </div>
  </div>
</div>
