<header>
  <div class="container-header">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-3 col-xl-3 mob-layout">
        <div class="logo">
          <a href="#">
            <img src="images/qlogo.png" class="img-responsive" alt="logo" />
          </a>
        </div>
        <div class="mob-menu">
          <nav class="navbar sticky-top navbar-expand-lg">
            <div class="container">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item active">
                    <a class="nav-link" href="index.html"
                      >Home <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Process</a>
                          </li> -->
                  <!-- <li class="nav-item">
                              <a class="nav-link" href="#">Blog</a>
                          </li> -->
                  <li><a href="#"> Job Listing </a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"
                      ><i class="fa fa-phone"></i> 1800-102-5558</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="how-section1 section login-bg-img">
        <div class="row">
          <div class="col-md-12 how-img sec1-left-img"></div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="section-container-left">
                <div class="heading-title">
                  <h2 class="white">Job Listing</h2>
                  <p>Loreum Ipsum dolor smit amet........</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section2 section listings">
        s
        <div class="row">
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-lg-offset-3 mx-auto"
          >
            <div class="login-sec mb-60">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="qz-form-left">
                    <div class="login-form-heading">
                      <h3 class="white">Fill The Form</h3>
                    </div>
                    <form id="qz-login-form-data" novalidate="">
                      <div
                        class="col-lg-12 col-md-12 col-sm-6 col-xs-12 one-row"
                      >
                        <h3 class="white t-orange">Listing Type</h3>
                        <div class="form-group">
                          <select
                            name="cases"
                            class="form-select form-control"
                            id="cases"
                          >
                            <option value="job" selected>Job</option>
                            <option value="workshop">Workshop</option>
                            <option value="internship">Internship</option>
                          </select>
                        </div>
                      </div>
                      <div class="general-job" id="general-job">
                        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                          <div class="form-group">
                            <input
                              placeholder="Title"
                              class="form-control"
                              type="text"
                              name="job_reg_title"
                              id="job_reg_title"
                              autocomplete="off"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                          <div class="form-group">
                            <!-- <label>Education</label> -->
                            <select
                              class="form-select form-control"
                              aria-label="Default select example"
                            >
                              <option selected>Job Location</option>
                              <option value="1">Nagpur</option>
                              <option value="2">Chennai</option>
                              <option value="1">Delhi</option>
                              <option value="2">Kanpur</option>
                              <option value="1">Banglore</option>
                              <option value="2">Mumbai</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group">
                            <textarea
                              placeholder="Description"
                              rows="3"
                              class="form-control"
                              name="job_reg_desc"
                              id="job_reg_desc"
                              autocomplete="off"
                            ></textarea>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                          <div class="form-group">
                            <input
                              placeholder="Skills Required"
                              class="form-control"
                              type="text"
                              name="job_reg_skills"
                              id="job_reg_skills"
                              autocomplete="off"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                          <div class="form-group">
                            <input
                              placeholder="Contact Number"
                              class="form-control"
                              type="tel"
                              name="job_reg_phone"
                              id="job_reg_phone"
                              autocomplete="off"
                            />
                          </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                      <div class="form-group">
                         <input placeholder="Company Apply URL" class="form-control" type="text" name="job_reg_url" id="job_reg_url" autocomplete="off">
                      </div>
                    </div> -->

                        <div
                          class="col-lg-12 col-md-12 col-sm-6 col-xs-12 one-line-row"
                        >
                          <div class="form-group">
                            <label>Job Type</label>
                            <div class="form-check-inline">
                              <label class="form-check-label">
                                <input
                                  type="radio"
                                  class="form-check-input"
                                  name="optradio"
                                />Full Time
                              </label>
                            </div>
                            <div class="form-check-inline">
                              <label class="form-check-label">
                                <input
                                  type="radio"
                                  class="form-check-input"
                                  name="optradio"
                                  checked
                                />Half Day
                              </label>
                            </div>
                            <!-- <select class="form-select form-control" aria-label="Default select example">
                          <option selected>Job Type</option>
                          <option value="1">Full Time</option>
                          <option value="2">Half Day</option>
                        </select> -->
                          </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                      <div class="form-group">
                        <input placeholder="Experience Required" type="text" name="job_reg_exp" id="job_reg_exp" class="form-control timepicker">
                      </div>
                    </div>  -->
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="buttons-area">
                          <div class="form-group check-div">
                            <div
                              class="icheckbox_square"
                              style="position: relative;"
                            >
                              <input
                                type="checkbox"
                                name="icheck_box"
                                class="input-icheck-others"
                                data-parsley-required="true"
                                data-parsley-error-message="Please accept terms and conditions."
                                data-parsley-multiple="icheck_box"
                              />
                            </div>
                            <p>
                              I Agree
                              <a href="" target="_blank"
                                >terms and conditions.</a
                              >
                            </p>
                          </div>
                          <button
                            class="n-btn-flat btn-mid pull-right "
                            type="submit"
                            id="sb_register_submit"
                          >
                            Submit
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
