
<div class="how-section1 section corp-img bg-orange">
            
    <div class="container-fluids">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
              <img src="assets/images/hiring-2.gif" class="img-responsive center-block" alt="logo">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 f-right">
                <div class="section-container-right">
                    <h2 class="x-large">Connect with any <br>student at any school</h2>
                    <p>The only all-in-one early talent recruiting platform connecting you to 9M+ students and alumni across 90% of the top educational institutions in the US (and growing)</p>
                    <a (click)="postJob()" class="n-btn-flat btn-mid btn-white"> Get Started </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="section2 section">
    <div class="row search-forms">
        <div class="col-lg-10 mx-auto col-md-10 col-md-offset-1 col-lg-offset-1">
            <div class="career-search mb-60">
                <form action="#" class="career-form mb-60">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 my-3">
                            <div class="input-group position-relative">
                                <input type="text" class="form-control" placeholder="Enter Your Keywords" id="keywords">
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 my-3">
                            <div class="select-container">
                                <select class="custom-select">
                                    <option selected="">Location</option>
                                    <option value="1">Jaipur</option>
                                    <option value="2">Pune</option>
                                    <option value="3">Bangalore</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 my-3">
                            <div class="select-container">
                                <select class="custom-select">
                                    <option selected="">Category</option>
                                    <option value="1">IT</option>
                                    <option value="2">Textile Industry</option>
                                    <option value="3">Hospital</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 my-3">
                            <button type="button" class="n-btn-flat btn-mid" id="contact-submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
 <div class="section how-it-works style-2 corp-sec light-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="n-call-to-action-text">
                    <h2 class="x-large">Build authentic relationships virtually and in person</h2>
                    <ul class="build-list">
                        <li><i class="fa fa-dot-circle-o"></i><p>loreum ipsum dolor smit amet consecueter</p></li>
                        <li><i class="fa fa-dot-circle-o"></i><p>loreum ipsum dolor smit amet consecueter</p></li>
                        <li><i class="fa fa-dot-circle-o"></i><p>loreum ipsum dolor smit amet consecueter</p></li>
                        <li><i class="fa fa-dot-circle-o"></i><p>loreum ipsum dolor smit amet consecueter</p></li>
                    </ul>
                </div>
            </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                   <img src="assets/images/hiring-1.png" class="img-responsive" alt="image"/>
            </div>
        </div>
    </div>
</div>
 <div class="section how-it-works style-2 corp-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="heading-title black">
                    <h2 class="x-large t-center">Reach the largest, most diverse,and active early talent network in the country</h2>
                    <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                        <div class="work-points">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="h-i-w-content-box">
                                    <h4>Brand</h4>
                                     
                                  </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="h-i-w-content-box">
                                      <h4>Source</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="h-i-w-content-box">
                                    <h4>Engage</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="h-i-w-content-box">
                                    <h4>Hire</h4>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                        <div class="work-points">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="h-i-w-content-box">
                                    <h4>Brand</h4>
                                     
                                  </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="h-i-w-content-box">
                                      <h4>Source</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="h-i-w-content-box">
                                    <h4>Engage</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="h-i-w-content-box">
                                    <h4>Hire</h4>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="section light-blue">
    <div class="container">
        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="heading-title black">
                          <h2 class="x-large t-center">Powerful tools to drive every part of your early talent hiring</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                          </div>
                      </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                             <div class="accordion">
                                <div class="accordion__item">
                                    <p class="accordion__number">01</p>
                                    <p class="accordion__text">How long does delivery take?</p>
                                    <button class="accordion__btn">
                                        <!-- <ion-icon name="chevron-down-outline"></ion-icon> -->
                                    </button>
                                    <div class="accordion__box">
                                        <p class="accordion__content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque perspiciatis inventore sapiente commodi id consectetur ducimus ipsa fugiat officiis nesciunt blanditiis temporibus quas aperiam, voluptas.
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion__item open">
                                    <p class="accordion__number">02</p>
                                    <p class="accordion__text">How long do I have to return my purchase?</p>
                                    <button class="accordion__btn">
                                        <!-- <ion-icon name="chevron-down-outline"></ion-icon> -->
                                    </button>
                                    <div class="accordion__box">
                                        <p class="accordion__content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque perspiciatis inventore sapiente commodi id consectetur ducimus ipsa fugiat officiis nesciunt blanditiis temporibus quas aperiam, voluptas.
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion__item">
                                    <p class="accordion__number">03</p>
                                    <p class="accordion__text">I ordered too many, can I update my order?</p>
                                    <button class="accordion__btn">
                                        <!-- <ion-icon name="chevron-down-outline"></ion-icon> -->
                                    </button>
                                    <div class="accordion__box">
                                        <p class="accordion__content">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque perspiciatis inventore sapiente commodi id consectetur ducimus ipsa fugiat officiis nesciunt blanditiis temporibus quas aperiam, voluptas.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-orange">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="heading-title black">
                    <h2 class="x-large text-white t-center">Reach the largest, most diverse, and active early talent network in the country</h2>
                    <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor.</p>
                </div>
        </div>
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-white test-sec">
            <div class="arrows prev"></div>
            <div class="wrapper" id="wrapper">

              <p class="activeTest">I GOT A JOB!!!! My interviewer was super impressed by the skills I took the initiative to learn on my own. I was able to "talk the talk," so to speak, which was great! I feel confident going into my new role in just 2 weeks!
              </p>

              <p>My life has completely changed! All of my friends and family are so impressed, and it has brought a certain kind of confidence in my abilities not only as a "techie" but as a mom, and person in general that I could switch careers and understand and
                DO it. </p>

              <p>This quote is also inspirational!!!! Super inspirational! Because everything is awesome!</p>

              <ul class="dots-wrap">
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
              </ul>
              
            </div>

            <div class="arrows next"></div>
        </div>-->
    </div>
</div>

<div class=" section light-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mb-3">
                <div class="heading-2">
                  <h2 class="x-large t-center">See what Handshake can do for your early talent recruiting</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button type="button" (click)="postJob()" class="n-btn-flat btn-mid" id="contact-submit">
                                I want to recruit better
                            </button>
            </div>
           
        </div>
    </div>
</div>